<!DOCTYPE html>
<html>
<head>
    <title>Pagina con Node.js</title>
    <link rel="icon" href="/img/nodejs-servidor.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
     <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>